
.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.jumbotron {
  background-image: url('https://c1.staticflickr.com/1/971/27022184477_47eb11f821_o.jpg');
  background-size: cover;
}

button.alternatives {
  background:none;
  border: none;
}



#flashMessage {
    color: white;
    background-color: #64ce83;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: calc(100% - 100px);
    margin-bottom: 40px;
}

#altpop {
  color: blue;
  text-decoration: underline;
}


@media (max-width: 769px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .jumbotron {
    width: 100%
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;

  }
  .titletext {
    font-size: 40px;
  }
  .titletext2 {
    font-size: 15px;
  }
  .formmobile {
    width: 95%
  }
  .questionArea {
    rows: 4;
    cols: 40;
  }
}
